<!DOCTYPE html>
<html lang="sk-SK">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Primary Meta Tags -->
        <title><%- title %></title>
        <meta name="title" content="<%- title %>" />
        <meta name="description" content="<%- description %>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%- url %>" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:description" content="<%- description %>" />
        <meta property="og:image" content="<%- card_image %>" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%- url %>" />
        <meta property="twitter:title" content="<%- title %>" />
        <meta property="twitter:description" content="<%- description %>" />
        <meta property="twitter:image" content="<%- card_image %>" />
        <meta name="theme-color" content="<%- theme %>" />
        <link rel="stylesheet" href="/src/scss/style.scss" />
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "mainEntity": [{
                "@type": "Question",
                "name": "Čo je trospysmp?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "TrospySMP je minecraftový survival SMP server. TrospySMP
            beží na najnovšej FiveM verzrzii 1.18 a taktiež vyuźíva
             funkciu LifeSteal (Hráči si môži kradnúť srdcia a jedlo
            asi). Na TrospySMP hrá mnoho YouTuberov ako Trospy,
             Hestreng, Zovicek, Medvid3k a další."
                }
              },{
                "@type": "Question",
                "name": "Ako sa dostanem na trospysmp?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Podľa všetkých dostupných informacii na TrospySMP sa
            môžete dostať vyhraním eventu, sútaže alebo otročením.
            Pokiaľ ale máte pár subs na yt tak je to možne aj tak."
                }
              },{
                "@type": "Question",
                "name": "Čo keď nesplnam žiadne podmienky na prijatie na  trospysmp?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "To vôbec nevadí kedže na server môžeš prísť aj pomocou whitelist generatoru
            kde je veľká šanca že dostaneš whitelist do dalšieho
            reštartu."
                }
              }]
            }
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="../index.html" title="domovska stranka">Domov</a>
                </li>
                <li>
                    <a href="../whitelist.html" title="blacklist generator"
                        >Whitelist Generator</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.google.com/maps/place/Trospy+SMP/@48.6964001,21.2166386,18.5z/data=!4m5!3m4!1s0x473ee1bc387ee439:0x324dff701ba55b32!8m2!3d48.6965251!4d21.2222207?hl=sk-SK&shorturl=1"
                        title="ako to unhacknem"
                        >Hacknuta mapa</a
                    >
                </li>
                <li>
                    <a
                        href="../cleni/index.html"
                        title="vsetcli cleni trospysmp"
                        >Členi</a
                    >
                </li>
            </ul>
        </nav>
        <header>
            <article class="head-text">
                <h1 class="animate__animated animate__flip"><%- title %></h1>
                <p class="animate__animated animate__flip">
                    Najkvalitnejší
                    <span class="server-type" id="server">GTA</span>
                    Creative Roleplay server!
                </p>
                <section
                    class="button-container animate__animated animate__bounceIn"
                >
                    <a
                        title="Mapa TrospySMP"
                        href="https://goo.gl/maps/VyU9eK4qkzry3UhLA"
                        ><button class="btn1" title="odkaz na mapu">
                            <i class="fas fa-map"></i> Mapu niekto hackol
                        </button></a
                    >
                    <a title="List TrospySMP čenov" href="cleni.html"
                        ><button class="btn2" title="členovia trospysmp">
                            <i class="fas fa-users"></i> Členi
                        </button></a
                    >
                    <button
                        onclick='alert("IP: trospysmp.cz")'
                        class="btn3"
                        title="ip adresa"
                    >
                        <i class="fas fa-location-arrow"></i> IP
                    </button>
                    <a
                        title="Generátor pre whitelist na TrospySMP"
                        href="whitelist.html"
                        ><button class="btn4" title="whitelist generator">
                            <i class="fas fa-plus-circle"></i> Whitelist
                            Generator
                        </button></a
                    >
                </section>
            </article>
        </header>
        <main>
            <article class="mainpage-info">
                <div class="container">
                    <section>
                        <h2>Čo je trospysmp?</h2>
                        <p>
                            TrospySMP je minecraftový survival SMP server.
                            TrospySMP beží na najnovšej FiveM verzrzii 1.19.1 a
                            taktiež vyuźíva funkciu LifeSteal (Hráči si môži
                            kradnúť srdcia a jedlo asi). Na TrospySMP hrá mnoho
                            YouTuberov ako Trospy, Hestreng, Zovicek, Medvid3k a
                            další.
                        </p>
                    </section>
                    <br />
                    <section>
                        <h2>Ako sa dostanem na trospysmp?</h2>
                        <p>
                            Podľa všetkých dostupných informacii na TrospySMP sa
                            môžete dostať vyhraním eventu, sútaže alebo
                            otročením. Pokiaľ ale máte pár subs na yt tak je to
                            možne aj tak.
                        </p>
                    </section>
                    <br />
                    <section>
                        <h2>
                            Čo keď nesplnam žiadne podmienky na prijatie na
                            trospysmp?
                        </h2>
                        <p>
                            To vôbec nevadí kedže na server môžeš prísť aj
                            pomocou
                            <a
                                title="jediný funkčný whitelist generator"
                                href="whitelist.html"
                                >Whitelist Generatoru</a
                            >
                            kde je veľká šanca že dostaneš whitelist do dalšieho
                            reštartu.
                        </p>
                    </section>
                    <br />
                    <section>
                        <h2>Aké ma trospysmp socialne siete?</h2>
                        <p>
                            Trospysmp ako najväčší RPG economy server má veľa
                            sociálnych sietí
                        </p>
                        <ul>
                            <li>
                                <a
                                    title="trospysmp facebook"
                                    href="https://www.facebook.com/profile.php?id=100078108044495"
                                    >Facebook</a
                                >
                            </li>
                            <li>
                                <a
                                    title="trospysmp twitter"
                                    href="https://twitter.com/trospysmp"
                                    >Twitter</a
                                >
                            </li>
                            <li>
                                <a
                                    title="trospysmp boojang"
                                    href="https://bit.ly/32z6wYz"
                                    >Boojang</a
                                >
                            </li>
                        </ul>
                        <p>
                            Pokial ešte nesleduješ TrospySMP trospyho SMP
                            economy server na sociálnych sietiach tak robíš
                            veľkú chybu!
                        </p>
                    </section>
                </div>
            </article>
        </main>
        <footer>
            <p><%- footer %></p>
            <p class="credit">
                Webstránky pripravil
                <a
                    title="odkaz na webstránku oliminatora"
                    href="https://oliminator.net"
                    >OLIMINATOR</a
                >
                v inteligentnej samsung hladničke
            </p>
        </footer>
        <script
            async
            defer
            src="https://scripts.simpleanalyticscdn.com/latest.js"
        ></script>
        <noscript
            ><img
                src="https://queue.simpleanalyticscdn.com/noscript.gif"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
        /></noscript>
    </body>
</html>
