@use "../util" as *;

button {
    cursor: pointer;
    border-radius: 0.2rem;
    font-family: var(--font);
    color: #fff;
    margin: 1.5rem 1rem;
    background-color: gray;
    border-style: none;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    filter: drop-shadow(1px 1px 5px #000);
    transition: 0.1s;
    cursor: url("/src/images/hlava.png"), auto;

    &:hover {
        background-color: var(--blue);
    }

    @include breakpoint(large) {
        font-size: 1.5rem;
    }
}

.btn2 {
    &:hover {
        background-color: lightblue;
    }
}

.btn4 {
    &:hover {
        background-color: var(--green);
    }
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint(large) {
        flex-direction: row;
    }
}
