@use "../util" as *;

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    background-image: url("/src/images/pozadie.jpg");
    background-size: cover;

    p {
        text-align: center;
        font-size: rem(18);
        font-weight: 400;
        color: var(--gray);
        max-width: 80%;
        cursor: url("/src/images/hlava.png"), auto;
        font-family: var(--font);
        color: white;
        @include breakpoint(medium) {
            font-size: 1.5rem;
        }
    }
    h1 {
        text-align: center;
        font-size: rem(30);
        font-weight: 800;
        cursor: url("../assets/hlava.png"), auto;
        font-family: var(--font);
        color: white;
        @include breakpoint(medium) {
            font-size: 3rem;
        }
    }

    .server-type {
        color: white;
    }
}
