@use "../util" as *;

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../assets/pozadie.png");
}
