<!DOCTYPE html>
<html lang="sk-SK">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Primary Meta Tags -->
        <title><%- title %></title>
        <meta name="title" content="<%- title %>" />
        <meta name="description" content="<%- description %>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%- url %>" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:description" content="<%- description %>" />
        <meta property="og:image" content="<%- card_image %>" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%- url %>" />
        <meta property="twitter:title" content="<%- title %>" />
        <meta property="twitter:description" content="<%- description %>" />
        <meta property="twitter:image" content="<%- card_image %>" />
        <meta name="theme-color" content="<%- theme %>" />
        <link rel="stylesheet" href="/src/scss/style.scss" />
    </head>
    <body class="trospy-profile">
        <nav>
            <ul>
                <li>
                    <a href="../index.html" title="domovska stranka">Domov</a>
                </li>
                <li>
                    <a href="../whitelist.html" title="blacklist generator"
                        >Whitelist Generator</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.google.com/maps/place/Trospy+SMP/@48.6964001,21.2166386,18.5z/data=!4m5!3m4!1s0x473ee1bc387ee439:0x324dff701ba55b32!8m2!3d48.6965251!4d21.2222207?hl=sk-SK&shorturl=1"
                        title="ako to unhacknem"
                        >Hacknuta mapa</a
                    >
                </li>
                <li>
                    <a
                        href="../cleni/index.html"
                        title="vsetcli cleni trospysmp"
                        >Členi</a
                    >
                </li>
            </ul>
        </nav>
        <header class="profile-head">
            <h1>Trospy</h1>
            <p>Trovo Kanál Trosapy</p>
            <ul>
                <li>Minecraft Nick: _ToggledTrospyy</li>
                <li>Socialne siete:</li>
                <ul>
                    <li>
                        <a
                            title="Trospyho Hlavný Kanál"
                            href="https://www.youtube.com/c/Trospy"
                            >YouTube</a
                        >
                    </li>
                    <li>
                        <a
                            title="Trospyho Vedlajší Kanál"
                            href="https://www.youtube.com/c/Trospy19"
                            >Druhý YouTube</a
                        >
                    </li>
                    <li>
                        <a
                            title="Trospyho Instagram"
                            href="https://www.instagram.com/trospy19/"
                            >Instagram</a
                        >
                    </li>
                    <li>
                        <a title="Trovo" href="https://trovo.live/Trospy"
                            >Trovo</a
                        >
                    </li>
                    <li>
                        <a
                            title="trospyho Email"
                            href="mailto:trospyytb@gmail.com"
                            >Email</a
                        >
                    </li>
                    <li>
                        <a title="trospyho discord" href="/404.html">Discord</a>
                    </li>
                </ul>
            </ul>
        </header>
        <main class="profile-main">
            <article>
                <h2>Niečo o trospy</h2>
                <h3>Čo ten Trsorpy vôbec je?</h3>
                <p>
                    Trospy sa zameruje na hru GTA ktorú streamuje na svoj Twitch
                    účet linknutý hore. Trospy disponuje širokým sortimentom
                    videí od Moji Kamarádi Mě UVĚZNILI po Trospy - VESMÍRNÉ UFO
                    (Official Minecraft Video) alebo Trospy si našel HOLKU.
                    Taktiež, trospy aka trospy19 má rád svojích plišákov róberta
                    a magdalénu.
                </p>
                <br />
                <h3>Čo trospy a trospysmp?</h3>
                <p>
                    Trospy je členom a zároveň menodržitelom TrospySMP do
                    nedávna bol na serveri aj Primátor kým ho Kráľ Hestreng
                    zosadil a ovládol tento terraria RPG server.
                </p>
                <br />
                <h3>Ako sa trospy dostal k jeho nicku?</h3>
                <p>
                    K prezívke sa dostal tak, že sa mu zapáčilo meno Yeti, to si
                    upravil a tak vznikla prezívka Trospy
                </p>
                <br />
                <h3>Kto/čo je trospyho inšpiráciou?</h3>
                <p>
                    Jeho veľkov inšpiráciou je SirYakari alebo
                    <a href="https://thepinkfongcompany.com"
                        >The Pinkfong Company, Inc.</a
                    >
                </p>
                <br />
                <h3>Ako trospy odštartoval svoju youtube karieru?</h3>
                <p>
                    Založil si svoj youtube kanál 27. 12. 2019 a hneď v ten ďen
                    vidal video "Vtipné momenty z eventu 100 hráčů. ft.
                    SirYakari" po ktorom ďeň na to následovalo "Minecraft DROP
                    EDIT (RUDE - Eternal Youth)"
                </p>
                <p>
                    Svoju vimeo karíeru ale poriadne odštaroval až po výhre v
                    SirYakari evente kde dal súboj zo svojím rovesníkom kubom a
                    spravil si z chatu bilboard na svoj youtube kanál.
                </p>
            </article>
        </main>
        <footer>
            <p><%- footer %></p>
            <p class="credit">
                Webstránky pripravil
                <a
                    title="odkaz na webstránku oliminatora"
                    href="https://oliminator.net"
                    >OLIMINATOR</a
                >
                v inteligentnej samsung hladničke
            </p>
            <a href="../sitemap.html" title="sitemap">Mapa Webu</a>
        </footer>
        <script
            async
            defer
            src="https://scripts.simpleanalyticscdn.com/latest.js"
        ></script>
        <noscript
            ><img
                src="https://queue.simpleanalyticscdn.com/noscript.gif"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
        /></noscript>
    </body>
</html>
