<!DOCTYPE html>
<html lang="sk-SK">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Primary Meta Tags -->
        <title><%- title %></title>
        <meta name="title" content="<%- title %>" />
        <meta name="description" content="<%- description %>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%- url %>" />
        <meta property="og:title" content="<%- title %>" />
        <meta property="og:description" content="<%- description %>" />
        <meta property="og:image" content="<%- card_image %>" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%- url %>" />
        <meta property="twitter:title" content="<%- title %>" />
        <meta property="twitter:description" content="<%- description %>" />
        <meta property="twitter:image" content="<%- card_image %>" />
        <meta name="theme-color" content="<%- theme %>" />
        <link rel="stylesheet" href="/src/scss/style.scss" />
    </head>
    <body class="trospy-profile">
        <header class="profile-head">
            <h1>Trospy</h1>
            <p>Trovo Kanál Trosapy</p>
            <ul>
                <li>Minecraft Nick:</li>
                <li>Socialne siete:</li>
                <ul>
                    <li>
                        <a
                            title="Trospyho Hlavný Kanál"
                            href="https://www.youtube.com/c/Trospy"
                            >YouTube</a
                        >
                    </li>
                    <li>
                        <a
                            title="Trospyho Vedlajší Kanál"
                            href="https://www.youtube.com/c/Trospy19"
                            >Druhý YouTube</a
                        >
                    </li>
                    <li>
                        <a
                            title="Trospyho Instagram"
                            href="https://www.instagram.com/trospy19/"
                            >Instagram</a
                        >
                    </li>
                    <li>
                        <a title="Trovo" href="https://trovo.live/Trospy"
                            >Trovo</a
                        >
                    </li>
                    <li>
                        <a
                            title="trospyho Email"
                            href="mailto:trospyytb@gmail.com"
                            >Email</a
                        >
                    </li>
                    <li>
                        <a title="trospyho discord" href="/404.html">Discord</a>
                    </li>
                </ul>
            </ul>
        </header>
        <main class="profile-main">
            <article>
                <h2>Niečo o trospy</h2>
                <h3>Čo ten Trsorpy vôbec je?</h3>
                <p>
                    Trospy sa zameruje na hru GTA ktorú streamuje na svoj Twitch
                    účet linknutý hore. Trospy disponuje širokým sortimentom
                    videí od Moji Kamarádi Mě UVĚZNILI po Trospy - VESMÍRNÉ UFO
                    (Official Minecraft Video) alebo Trospy si našel HOLKU.
                    Taktiež, trospy aka trospy19 má rád svojích plišákov róberta
                    a magdalénu.
                </p>
                <br />
                <h3>Čo trospy a trospysmp?</h3>
                <p>
                    Trospy je členom a zároveň menodržitelom TrospySMP do
                    nedávna bol na serveri aj Primátor kým ho Kráľ Hestreng
                    zosadil a ovládol tento terraria RPG server.
                </p>
            </article>
        </main>
        <footer>
            <p><%- footer %></p>
            <p class="credit">
                Webstránky pripravil
                <a
                    title="odkaz na webstránku oliminatora"
                    href="https://oliminator.net"
                    >OLIMINATOR</a
                >
                v inteligentnej samsung hladničke
            </p>
        </footer>
        <script
            async
            defer
            src="https://scripts.simpleanalyticscdn.com/latest.js"
        ></script>
        <noscript
            ><img
                src="https://queue.simpleanalyticscdn.com/noscript.gif"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
        /></noscript>
    </body>
</html>
