@use "../util" as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: underline;
    color: green;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: rem(10);
}

h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: rem(10);
}

p {
    @include breakpoint(medium) {
        font-size: rem(22);
    }
    color: white;
    font-weight: 100;
    font-size: rem(18);
}

ol {
    color: white;
    font-size: 1.3rem;
    cursor: url("../assets/hlava.png"), auto;
    font-family: var(--font);
}
span {
    text-decoration: underline;
    color: rgb(148, 148, 216);
    font-family: var(--font);
}

li {
    font-size: rem(20);
}
